<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jspcookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <!-- 분단위 세션 유효시간 설정(설정파일 변경 시 서버 재시작 필요) -->
<!--    default 세션의 유효시간을 설정하는것이므로, 페이지마다 setMaxInactiveInterval로 유효시간을 설정시
     해당 페이지는 디폴트 값이 아닌 직접 설정한 값이 설정됌 -->
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
</web-app>